<!doctype html>
<html ng-app="starter">
<head>
  <title>My Angular App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">

	<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<h1>To Do App</h1>
		</p>{{hi}}</p>
		<div ng-controller="TodoCtrl">
		{{todos}}
		<label>New to do form</label><br>

		<input type= "text" ng-model="newTodo.title">
		{{newTodo.title}}<br>
		<button ng-click="addNewTodo()"> Add New Todo </button>
		<br>

		<label>To do list</label><br>

		<ng-pluralize count="todos.length"
			when="{'0': 'you are done with your todo list!',
				   '1': 'you have 1 thing left to do',
				   'other': 'you have {} things left to do.'
					}">
				</ng-pluralize>
		<ul>
			<li ng-repeat="todo in todos">
				<p>{{todo.title}}</p>
				<button ng-click="delete(todo)">Delete Todo</button>
		</ul>
  		</div>



	</div>
	</div>

</body>
</html>