<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<h1>To Do App</h1>
		<p>{{hi}}</p>
		<div ng-controller="TodoCtrl">
			<label>New to do form</label><br>

			<form ng-submit="submit()" ng-controller="ExampleController">
 				Enter text and hit enter (form version):
  				<input type="text" ng-model="newStuff.thing" required/><span class="error" ng-show="myForm.input.$error.required">Required!</span><br>{{newStuff.thing}}
  				<input type="submit" id="submit" value="TodoList (form)" />
  				<ul>
  					<li ng-repeat="stuff in stuff">
  						<p><input type="checkbox" ng-model="todo.done"/><span class="done-{{todo.done}}">{{stuff.thing}}</span></p>
  						<button ng-click="delete(stuff)">Delete stuff</button>
  					</li>
				</ul>
			</form>



			<input type= "text" ng-model="newTodo.title">
			{{newTodo.title}}<br>
			<button ng-click="addNewTodo()"> Add New Todo </button>
			<br>

			<label>To do list</label><br>

			<ng-pluralize count="todos.length"
			when="{'0': 'you are done with your todo list!',
				   '1': 'you have 1 thing left to do',
				   'other': 'you have {} things left to do.'
					}">
				</ng-pluralize>
				<ul>
					<li ng-repeat="todo in todos">
						<p>{{todo.title}}</p>
						<button ng-click="delete(todo)">Delete Todo</button>
					</li>
				</ul>
  		</div>

	</div>
</div>